# Kişisel dizinler ve dosyalar
.CFUserTextEncoding
.bash_history
.bash_profile
.bash_sessions/
.npm/
.ssh/
.viminfo
.vscode/
Library/
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
  ../../.CFUserTextEncoding
        ../../.bash_history
        ../../.bash_profile
        ../../.bash_sessions/
        ../../.bidstack-device-id
        ../../.gitconfig
        ../../.gitignore
        ../../.gitignore.swp
        ../../.gitignore_global
        ../../.lesshst
        ../../.npm/
        ../../.ssh/
        ../../.viminfo
        ../../.vscode/
        ../../Applications/
        ../../Creative Cloud Files Personal Account vysldzyl@gmail.com 998A515C5683F6BF7F000101@AdobeID/
        ../../Creative Cloud Files ecedzyl91@gmail.com 77269c6bdb7f2274c9d3de0b23e793e39b26389b3f6ac858ac3a4007250b5878/
        ../.localized
        ../Ekran Resmi 2024-08-30 18.38.02.png
        "../HUAWE\304\260 FOTO/"
        ../WhatsApp
        "../kar\304\261\305\237\304\261k/"
        .gitignore
        index.html
        repos/index.html
        style.css
        "../\304\260LK OKUL/"
        ../../Documents/
        ../../Downloads/
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../Pictures/
        ../../Public/
        ../../https:/
        "../../iCloud Drive (Ar\305\237iv)/"
        ../../package-lock.json
        ../../package.json
        ../../.CFUserTextEncoding
../../.bash_history
../../.bash_profile
../../.bash_sessions/
../../.npm/
../../.ssh/
../../.vscode/
../../Documents/
../../Downloads/
../../Library/
../../Movies/
../../Music/
../../Pictures/
../../Public/
../../*.swp
../../package-lock.json
../../package.json


